# константы для почты
SMTP_SERVER = "smtp.gmail.com"
SMTP_PORT = 587
SENDER_EMAIL = "почта отправитель уведомлений"
SENDER_PASSWORD = "пароль_почты_отправителя"
RECEIVER_EMAIL = "почта получателль"
TEMP_THRESHOLD = 28.0